/* NAVBAR */
/* nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    background-color: var(--bg-light);
    padding: 12px 30px; 
    border-radius: 30px; 
    font-size: 24px; 
    color: var(--bg-light); 
    text-shadow: var(--text-stroke); 
    font-family: "Grape Nuts", cursive; 
    transition: all 0.3s ease;
    border: 1px solid var(--text-dark);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
} */
nav a:hover {
    background-color: #dbc994;
    transform: translateY(-1px);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

/* HAMBURGUESA */
.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: var(--bg-light);
    text-shadow: var(--text-stroke);
    z-index: 1000;
}

/* Nav responsive (hamburguesa funcional) */
@media (max-width: 900px) {
    nav#main-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--bg-header);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: 2px solid var(--text-dark);
        padding: 15px 0;
        transition: max-height 0.4s ease, opacity 0.4s ease;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        z-index: 999;
    }
    nav#main-nav.active {
        max-height: 500px;
        opacity: 1;
    }
    .hamburger-menu {
        display: block;
    }
}
